.signup-tab-container{
  max-width: 600px !important;
  margin: 0 auto;
  margin-top: 50px;
}
.signup-container{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  /*height: 400px;*/
}
.signup-container md-input-container{
  width: 100% !important;
}
.signup-container md-card-actions{
  /*float: right;*/
}
