<md-toolbar color="primary">
  Real-time Parking Booking System (Admin Panel)
  <a (click)="logout()" style="position: absolute; right: 23px; top: 18px;cursor:pointer;">
    <img md-list-avatar src="/assets/logout.png" alt="logout" height="30px">
  </a>
</md-toolbar>

<md-tab-group class="signup-tab-container">
  <md-tab>
    <template md-tab-label>
      New Auction
    </template>

    <md-card class="book-parking-container">
      <md-card-title> Start New Auction </md-card-title>
      <md-card-content>

        <md-input-container>
          <input md-input [(ngModel)]="newAuctionObj.title" type="text" placeholder="Enter Title">
        </md-input-container>

        <br/>
        <br/>

        <md-input-container>
          <input md-input [(ngModel)]="newAuctionObj.minBid" type="text" placeholder="Enter Min Bid Price">
        </md-input-container>

        <br/>
        <br/>

        <md-input-container>
          <input md-input [(ngModel)]="newAuctionObj.url" type="text" placeholder="Enter Image Url (Optional)">
        </md-input-container>

        <br/>
        <br/>

        <md-input-container>
          <input md-input [(ngModel)]="newAuctionObj.qty" type="text" placeholder="Enter Item Quantity">
        </md-input-container>

        <br/>
        <br/>

        <md-input-container>
          <input md-input [(ngModel)]="newAuctionObj.desc" type="text" placeholder="Enter Item Description">
        </md-input-container>

        <br/>

      </md-card-content>

      <md-card-actions>
        <button md-button md-raised-button color="primary" (click)="postNewAuction()">Post</button>
      </md-card-actions>

    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      My Auctions
    </template>

    <md-card class="view-reservations-container">
      <md-card-title> My Posted Auctions </md-card-title>
      <md-card-content>
        <md-list>
          <div *ngFor="let auctionObj of myPostedAuctionsList">
            <md-list-item>
              <img md-list-avatar src="/assets/profile.png" alt="profile picture" height="100" *ngIf="auctionObj.url==''">
              <img md-list-avatar src="{{auctionObj.url}}" alt="profile picture" height="100" *ngIf="auctionObj.url!=''">
              <h1 md-line> <b>Title :  {{auctionObj.title}} </b> </h1>
              <h1 md-line> <b>Description :  {{auctionObj.desc}} </b> </h1>
              <h3 md-line> <b>Quantity : </b>{{auctionObj.qty}} </h3>
              <h3 md-line> <b>Min bid : </b>{{auctionObj.minBid}} </h3>
            </md-list-item>
            <md-divider></md-divider>
          </div>
        </md-list>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      Awarded Auctions
    </template>

    <md-card class="signup-container">
      <md-card-title> My Awarded Auctions </md-card-title>
      <md-card-content>
        <!--<md-list>
          <div *ngFor="let slotInfo of myReservedParkingList">
            <md-list-item>
              <img md-list-avatar src="/assets/car.png_256" alt="profile picture" class="car-logo">
              <h1 md-line> <b>Location Map:  {{slotInfo.location}} </b> </h1>
              <h1 md-line> <b>Reservation Date :  {{slotInfo.slot.parkingData}} </b> </h1>
              <h3 md-line> <b>Reservation Start Time: </b>{{slotInfo.slot.startTime }} </h3>
              <p md-line>
                <span> <b>Reservation Hours: </b> {{slotInfo.slot.parkingHrs}} </span>
              </p>
              <button md-button md-raised-button color="warn" (click)="cancelReservation(slotInfo)" style="position: absolute; right: 23px;"> Cancel</button>
            </md-list-item>
            <md-divider></md-divider>
          </div>
        </md-list>-->
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      Bid Auction
    </template>

    <md-card>
      <md-card-title> Bid On Other Auctions </md-card-title>
      <md-card-content>
        <!--<md-list>
          <div *ngFor="let feedObj of feedbackMsgList">
            <md-list-item>
              <img md-list-avatar src="/assets/profile.png" alt="profile picture" height="60">
              <h1 md-line> <b>Message : </b> {{feedObj.message}} </h1>
            </md-list-item>
            <md-divider></md-divider>
          </div>
        </md-list>-->
      </md-card-content>
    </md-card>
  </md-tab>

</md-tab-group>
